*{
    margin: 0 auto;
    padding: 0;
}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#mailing-text{
    width: 900px;
    height: 400px;
    outline-color: #175ca9;
    text-align: left;
    font-size: 20px;
}

/*div{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

.select{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.select-area{
    width: 40px;
    height: 25px;
}

#sending-params{
    display: flex;
    flex-direction: row;
    margin: 1px;
}

#names-panel{
    margin: 0px;
    width: 200px;
    height: 625px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-self: right;
    background-color: rgba(44, 143, 255, 0.5);
}

#send-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 20px;
    width: 250px;
    height: 50px;
    border-radius: 6px;
    background-color: #175ca9;
    transition: 400ms;
}

#send-button:hover{
    font-size: 22px;
    background-color: #114177;
    transition: 400ms;
    cursor: pointer;
}

#send-button-clicked{
    width: 295px;
    height: 45px;
    font-size: 19px;
    background-color: #114177;
    transition: 500ms;
}