*{
    margin: 0 auto;
    padding: 0;
}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#mailing-text{
    width: 900px;
    height: 400px;
    outline-color: #175ca9;
    text-align: left;
    font-size: 16px;
}

/*div{*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

.select{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.select-area{
    width: 40px;
    height: 25px;
}

#sending-params{
    display: flex;
    flex-direction: row;
    margin: 1px;
}

#names-panel{
    width: 200px;
    height: 625px;
    display: flex;
    justify-content: left;
    background-color: rgba(0, 0, 0, 0.45);
}

.right-box{
    display: flex;
    justify-content: right;
    margin: 0;
}

#send-button{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    width: 300px;
    height: 50px;
    border-radius: 6px;
    background-color: #175ca9;
    transition: 500ms;
}

#send-button:hover{
    font-size: 19px;
    background-color: #114177;
    transition: 500ms;
}