*{
    margin: 0 auto;
    padding: 0;
}

body{
    margin-top: 2px;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    outline-color: #175ca9;
    width: 400px;
    height: 35px;
    font-size: 23px;
}

p{
    font-size: 15px;
    transition: 800ms;
}

#send-button{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    width: 150px;
    height: 50px;
    border-radius: 6px;
    background-color: #175ca9;
    transition: 500ms;
}

#send-button:hover{
    font-size: 17px;
    background-color: #114177;
    transition: 500ms;
    cursor: pointer;
}

#window{
    margin-top: 50px;
    background-color: #d3d3d3;
    border-radius: 5px;
}

#password-text{
    margin-top: 20px;
    margin-bottom: 1px;
}

.text-js{
    font-size: 13px;
    color: #175ca9;
    transition: 800ms;
}

#password-field, #email-field{
    margin: 3px;
}